---
import Layout from '~/layouts/PageLayout.astro';

import ToggleTheme from '~/components/common/ToggleTheme.astro';

// import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

// const options = [
//   { value: 'light', label: 'Light' },
//   { value: 'dark', label: 'Dark' },
//   { value: 'system', label: 'System' },
// ];

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div class="w-full flex items-center justify-center pt-20 pb-20 bg-slate-100 dark:bg-slate-900 min-h-screen">
    <div class="flex flex-col">
      <h1 class="text-3xl font-black mb-4 text-primary">ZG codes</h1>

      <div class="bg-white p-6 rounded-lg shadow-lg-- w-full max-w-xs md:max-w-md lg:max-w-lg">
        <h1 class="text-3xl font-black mb-4">theme switcher</h1>
        <div>
          <p class="text-center text-gray-600">
            This layout is centered both vertically and horizontally on mobile, tablet, and desktop.
          </p>
        </div>
      </div>
      <h1 class="text-3xl font-black mb-4">ZG codes</h1>

      <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />
    </div>
  </div>
</Layout>
