---
import Layout from '~/layouts/PageLayout.astro';

import ToggleTheme from '~/components/common/ToggleTheme';

const metadata = {
  title: 'ZG.codes — Personal blog',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div class="flex min-h-screen w-full items-center justify-center bg-slate-100 py-20 dark:bg-slate-900">
    <div class="flex flex-col">
      <h1 class="mb-4 text-3xl font-black text-primary">ZG codes</h1>
      <h1 class="mb-4 text-3xl font-black text-primary-action">ZG codes</h1>

      <div class="w-full max-w-xs rounded-lg bg-white p-6 shadow-lg md:max-w-md lg:max-w-lg">
        <h1 class="mb-4 text-3xl font-black">theme switcher</h1>
        <div>
          <p class="text-center text-gray-600">
            This layout is centered both vertically and horizontally on mobile, tablet, and desktop.
          </p>
        </div>
      </div>
      <h1 class="mb-4 text-3xl font-black">ZG codes</h1>

      <ToggleTheme client:load />
    </div>
  </div>
</Layout>
