---
import { Icon } from 'astro-icon/components';
import { getHomePermalink } from '~/utils/permalinks';
import { I18N } from 'astrowind:config';

const { textDirection } = I18N;
---

<div class="mx-auto flex max-w-3xl px-6 pb-4 pt-2">
  <a class="focus-none flex items-center text-sm focus:outline-none" href={getHomePermalink()}>
    <span>
      {
        textDirection === 'rtl' ? (
          <Icon name="tabler:chevron-right" class="-ml-1.5 mr-1 size-3 rtl:-mr-1.5 rtl:ml-1" />
        ) : (
          <Icon name="tabler:chevron-left" class="-ml-1.5 mr-1 size-3 rtl:-mr-1.5 rtl:ml-1" />
        )
      }
    </span>
    <span> Back </span>
  </a>
</div>
