@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-thickness: 72;
}

.zg-gradient {
  background: linear-gradient(-45deg, #a855f7, #e73c7e, #23a6d5, #6366f1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@font-face {
  font-family: 'Helvetica_LT_93_Black_Extended';
  src:
    url('../fonts/Helvetica_LT_93_Black_Extended.woff2') format('woff2'),
    url('../fonts/Helvetica_LT_93_Black_Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}

@media prefers-reduced-motion {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

* {
  @apply selection:bg-primary selection:text-white;
}

*:not(:active):focus-visible {
  @apply outline-offset-4;
}

a:has(> img) {
  @apply inline-block;
}

a {
  @apply hover:text-primary-action decoration-1 underline underline-offset-4 !transition-all;
  @apply focus:outline-none outline-2 outline-offset-2 focus-visible:outline !outline-primary;
}

*:not(.focus-none) {
  @apply outline-2 outline-offset-2 !outline-primary transition-[outline-offset] focus-visible:outline;
}

.zg-list li a {
  @apply no-underline hover:underline;
}
