@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-thickness: 72;
}

html {
  @apply scrollbar-thin scrollbar-thumb-zinc-400;
}

html.dark {
  @apply !scrollbar-thumb-zinc-950;
}

.zg-gradient {
  background: linear-gradient(-45deg, #a855f7, #e73c7e, #20d9f5, #6366f1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.zg-post p code {
  box-shadow: inset 0px 0px 1px rgb(21 175 234);
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 4px 5px !important;
  margin: 0;
  border-radius: 6px;
  background-clip: padding-box;
  font-weight: 500;
}

.zg-post p code:before,
.zg-post p code:after {
  display: none;
}

@font-face {
  font-family: 'Helvetica_LT_93_Black_Extended';
  src:
    url('../fonts/Helvetica_LT_93_Black_Extended.woff2') format('woff2'),
    url('../fonts/Helvetica_LT_93_Black_Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-secondary md:bg-background text-foreground text-sm md:text-base tracking-tight antialiased;
  }
}

@media prefers-reduced-motion {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

* {
  @apply selection:bg-primary selection:text-white;
}

*:not(:active):focus-visible {
  @apply outline-offset-4;
}

a:has(> img) {
  @apply inline-block;
}

a {
  @apply hover:text-primary-action decoration-1 underline underline-offset-4 !transition-all;
}

*:not(.focus-none) {
  @apply outline-2 outline-offset-2 !outline-primary transition-[outline-offset] focus-visible:outline;
}

.zg-list li a {
  @apply no-underline hover:underline;
}

pre {
  @apply !px-0 rounded-lg;
}

code {
  @apply !text-xs !leading-loose md:!text-sm md:!leading-loose !py-3;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark code[data-theme*=' '],
.dark code[data-theme*=' '] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
  background-color: hsl(var(--background-secondary));
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-400;
}

pre [data-line] {
  @apply px-3 border-l-2 border-l-transparent;
}

button.rehype-pretty-copy span {
  width: 100%;
  height: 100%;
}

button.rehype-pretty-copy span.ready {
  display: block !important;
}

pre button.rehype-pretty-copy {
  opacity: 0;
}

figure[data-rehype-pretty-code-figure]:hover > pre > code button.rehype-pretty-copy {
  opacity: 1;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1) !important;
  @apply !border-l-blue-400;
}

[data-highlighted-line] span {
  background: transparent !important;
}

[data-highlighted-chars] {
  @apply !bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5) !important;
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-title] {
  @apply bg-zinc-100 text-zinc-700 dark:bg-zinc-800 border-t border-l border-r dark:text-zinc-200 rounded-t-lg py-2 px-3 font-medium text-xs;
}

figure[data-rehype-pretty-code-figure] {
  @apply !p-0;
}

figure[data-rehype-pretty-code-figure] pre {
  @apply !p-0 border grid;
}

figure[data-rehype-pretty-code-figure] figcaption {
  @apply !mt-0;
}

figcaption + pre {
  @apply !rounded-t-none !pt-0 !pb-0;
}

figure {
  @apply mb-6 mt-1;
}
pre,
code,
figure {
  @apply overflow-x-auto !scrollbar-thin !scrollbar-thumb-zinc-200 dark:!scrollbar-thumb-zinc-700 !text-sm;
}
