@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-thickness: 72;
}

.zg-gradient {
  background: linear-gradient(-45deg, #a855f7, #e73c7e, #23a6d5, #6366f1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@font-face {
  font-family: 'Helvetica_LT_93_Black_Extended';
  src:
    url('../fonts/Helvetica_LT_93_Black_Extended.woff2') format('woff2'),
    url('../fonts/Helvetica_LT_93_Black_Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}

@media prefers-reduced-motion {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

* {
  @apply selection:bg-primary selection:text-white;
}

*:not(:active):focus-visible {
  @apply outline-offset-4;
}

a:has(> img) {
  @apply inline-block;
}

a {
  @apply hover:text-primary-action decoration-1 underline underline-offset-4 !transition-all;
}

*:not(.focus-none) {
  @apply outline-2 outline-offset-2 !outline-primary transition-[outline-offset] focus-visible:outline;
}

.zg-list li a {
  @apply no-underline hover:underline;
}

/* h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
}

h5 {
  font-weight: 700;
  font-size: 0.75rem;
}

h6 {
  font-weight: 700;
  font-size: 0.875rem;
} */

/* h3 code {
  @apply !text-lg md:!text-xl;
} */

pre {
  @apply !px-0 rounded-lg;
}

code {
  @apply text-sm md:text-base !leading-loose;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

/* .prose {
  @apply max-w-[55rem] sm:text-lg md:text-xl !leading-7 sm:!leading-9;
} */

pre [data-line] {
  @apply px-4 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-title] {
  @apply bg-zinc-700 text-zinc-200 rounded-t-lg py-2 px-3 font-semibold text-sm;
}

figcaption + pre {
  @apply !rounded-t-none;
}

figure {
  @apply mb-6 mt-1;
}
pre,
code,
figure {
  @apply overflow-x-auto px-2 py-1;
}
