---
import Layout from '~/layouts/Layout.astro';
import CanvasContainer from '~/components/ui/CanvasContainer.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <CanvasContainer />
  <main class="overflow-x-hidden">
    <slot />
  </main>
</Layout>
